*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio
.vs

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
x64/
x86/
buid/
[Bb]in/
[Oo]bj
msbuild.log
msbuild.err
msbuild.wrn



